.events-section {
  padding: 10rem 0 5rem;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .event-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 4rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}




